body {
	text-align: center;
	padding-top: 20%;
}

button {
	width: 200px;
	height: 30px;
}
span {
	margin-left: 30px;
}

b {
	padding: 10px;
	font-size: 20px;
	border: 1px solid red;
}

h3 {
	padding: 10px;
	font-size: 30px;
	border: 1px solid red;
}
